.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#google-map {
    width: 85vw;             /* Ocupa casi todo el ancho visible */
    height: 70vh;            /* Ocupa el 80% de la altura de la pantalla */
    margin: 30px auto;
    padding: 8px;
    background-color: white;
    border: 2px solid #84c7bf;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.gmnoprint, .gm-style-cc {
  display: none !important;
}

#legend {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #ffffff;
  border-style: solid;
  border-color: #84c7bf transparent transparent #84c7bf;
  border-width: 2px 0 0 2px;
  border-radius: 10px 0 0 0;
  padding: 14px 20px;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 15px;
  color: #111;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  width: max-content;
  max-width: 240px;
  z-index: 999;
}

#legend h3 {
  margin: 0 0 12px;
  font-size: 17px;
  font-weight: 600;
  color: #316275;
}

#legend ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#legend li {
  display: flex;
  align-items: center;
  gap: 10px;
}

#legend img {
  width: 29px;
  height: 29px;
  flex-shrink: 0;
}

#map-info {
  background: #f0f8ff;
  padding: 1.5em;
  border-radius: 8px;
  margin: 2em auto;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#map-info p {
  margin-bottom: 1em;
}

#map-info ul {
  padding-left: 1.2em;
  list-style: disc;
  margin-bottom: 1em;
}

#map-info li {
  margin-bottom: 0.5em;
}